@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.profile{
    font-family: "Indie Flower", cursive;
    font-weight: 400;
}

.sidebar{
    font-family: 'Special Elite';
    font-weight: bold;
}